@font-face {
  font-family: 'Basic Sans Serif 7';

  src: url('../fonts/basic_sans_serif_7.ttf');
}

$basic: 'Basic Sans Serif 7', Verdana, Tahoma;
$roboto: 'Roboto', sans-serif;

html {
  font-size: 62.5%;
}

.center-column {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.navbar {
  margin-bottom: 0;

  box-shadow: 0 -3px 20px black;
}

.navbar-header {
  font: 3.0rem $basic;

  padding-top: 10px;

  text-transform: uppercase;
}

.navbar-default {
  padding-top: 10px;
  padding-bottom: 15px;

  border-color: transparent;
  background-color: transparent;
  .navbar-nav {
    margin-top: -10px;
  }
  li a {
    font: 1.4rem $roboto;

    margin-top: 20px;
    margin-right: 20px;
    padding: 5px 20px;

    transition: .6s ease;

    border: 2px solid white;
  }
  li a:active,
  li a:hover {
    color: #6aba52 !important;
    border: 2px solid #6aba52;
    border-radius: 30px;
  }
  .navbar-brand {
    margin-top: 8px;
    margin-bottom: -20px;
    padding-top: 0;
  }
  .navbar-nav .active a {
    background-color: transparent;
    &:hover {
      background-color: transparent;
    }
  }
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: transparent;
}

.bring {
  padding-top: 110px;
  padding-bottom: 70px;

  text-align: center;

  background-color: #4ca368;
  h2 {
    font: 300 4.8rem $roboto;

    margin-bottom: 25px;

    text-align: center;
  }
  .subheader {
    font: 300 1.6rem $roboto;

    text-align: center;
  }
  .disclaimer {
    font: 300 1.4rem $roboto;

    margin-top: 20px;

    color: white;
  }
  .bring-input {
    margin-top: 50px;
  }
  img {
    display: block;

    margin-top: 45px;
    margin-right: auto;
    margin-left: auto;
  }
  .input-group {
    font: 1.2rem $roboto;

    margin-right: auto;
    margin-left: auto;
    input {
      padding: 20px;

      border: 2px solid #37804e;
      border-right: 0;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }
    button {
      padding: 20px;

      color: white;
      border: 2px solid #37804e;
      border-left: 0;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      background-color: #37804e;
    }
  }

}

.community {
  padding-top: 110px;
  padding-bottom: 70px;

  text-align: center;

  background-color: #ececec;
  h2 {
    font: 300 4.8rem $roboto;

    margin-bottom: 25px;

    text-align: center;
  }

  .start-signup {
    padding: 70px 100px;
    border: 2px solid silver;
    background-color: white;
  }
  .content {
    overflow: hidden;
    text-align: left;
    margin-left: 30px;
    padding-left: 30px;
  }
  ol {
    list-style-type: decimal-leading-zero;
    list-style-position: inside;
    text-align: left;
  }
  li {
    font: 300 1.6rem $roboto;
    list-style-type: decimal-leading-zero;
  }
  h3 {
    font: 300 2.6rem $roboto;
    color: #5db442;
    margin-bottom: 25px;
  }

  span.glyphicon-hand-right {
    font-size: 5.0rem;
    color: #5db442;
    float: left;
    width: 70px;
    height: auto;
    display: block;
    margin-top: 31px;

  }
}

.package {
  padding-top: 110px;
  padding-bottom: 70px;

  text-align: center;

  background-color: #fff;
  h2 {
    font: 300 4.8rem $roboto;

    margin-bottom: 25px;

    text-align: center;
  }
}

.data {
  padding-top: 110px;
  padding-bottom: 70px;

  text-align: center;

  background-color: #fff;
  h2 {
    font: 300 4.8rem $roboto;

    margin-bottom: 25px;

    text-align: center;
  }
  .feature--box {
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 0 15px 60px;
    img {
      padding-top: 40px;
    }
    h2 {
      font: 1.6rem $roboto;
      text-transform: uppercase;
      color: #333;
    }
    p {
      font: 1.5rem $roboto;
      line-height: 1.6;

      color: #777;
    }
    hr {
      width: 70px;

      border: 0;
      border-top: 3px solid lightgrey;
    }
  }
}

.feature--box:hover {
  background-color: green;
}

.feature--box:hover p {
  color: white;
}

@media (min-width: 1100px) {
  .feature--box {
    border: 1px solid black;
  }
}

@media(max-width: 992px) {
  .navbar-default {
    li a {
      display: block;

      max-width: 300px;
      margin-top: 0;
      margin-right: auto;
      margin-left: auto;
      padding: 15px 20px;

      text-align: center;
    }
    li a:first-child {
      margin-top: 10px;
    }
  }
}

.site--footer {
  background-color: #efefef;
}